---
import { email, linkedInLogo, telegram } from "@assets/icon";
import { Container } from "@components/Container";
import { SectionTitle, TypographyAstro } from "@components/Typography";
import type { Languages } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import type { IWorker } from "@interfaces/index";

interface Props {
  recruiter: IWorker;
}

const { lang } = Astro.params;
const { recruiter } = Astro.props;

const t = useTranslations(lang as Languages, "vacancy.recruiter");
---

<Container>
  <SectionTitle type={t("type")} title={t("title")} />
  <div class="flex 2xl:ml-[295px] 3xl:ml-[415px] gap-8">
    <img src={recruiter.photo.base64} alt="recruiter photo" class="rounded" />
    <div class="flex flex-col gap-2">
      <TypographyAstro type="title-1">
        {recruiter.name}
      </TypographyAstro>
      <TypographyAstro type="subTitle-sm-1">
        {recruiter.position}
      </TypographyAstro>
      <div class="flex gap-4 mt-auto">
        {
          recruiter.linkedIn && (
            <div class="flex mt-auto gap-4">
              <a
                href={recruiter.linkedIn}
                target="_blank"
                aria-label="linkedin"
              >
                <img src={linkedInLogo.src} alt="" />
              </a>
            </div>
          )
        }
        {
          recruiter.telegram && (
            <div class="flex mt-auto gap-4">
              <a
                href={recruiter.telegram}
                target="_blank"
                aria-label="telegram"
              >
                <img src={telegram.src} alt="" />
              </a>
            </div>
          )
        }
        {
          recruiter.email && (
            <div class="flex mt-auto gap-4">
              <a href={`mailto:${recruiter.email}`} aria-label="email">
                <img src={email.src} alt="" />
              </a>
            </div>
          )
        }
      </div>
    </div>
  </div>
</Container>
