---
import { ButtonAstro } from "@components/Button";
import { TypographyAstro } from "@components/Typography";
import type { IInsight } from "@interfaces/insight";
import { routes } from "src/routes";

interface Props {
  insight: IInsight;
}

const { insight } = Astro.props;

const date = new Date(insight.createdAt)
  .toLocaleDateString("en-US", {
    month: "long",
    day: "numeric",
    year: "numeric",
  })
  .replace(/(\w+) (\d+), (\d+)/, "$1, $2, $3");
---

<article class="flex flex-col gap-5 p-4 rounded border border-brand-black">
  <div class="flex justify-between">
    <TypographyAstro type="body-2">
      {date}
    </TypographyAstro>
    <span
      class="py-1 px-3 bg-brand-beige rounded-3xl text-brand-black text-12 font-gothic"
    >
      {insight.technologies[0].name}
    </span>
  </div>
  <img
    src={insight.image.base64}
    alt=""
    class="object-cover object-center h-[184px] w-full"
  />
  <article class="flex flex-col gap-3">
    <TypographyAstro type="subTitle-1" color="green" tag="h3">
      <a href={routes.insight + "/" + insight.slug}>{insight.title}</a>
    </TypographyAstro>
    <TypographyAstro color="black" type="body-2">
      {insight.description}
    </TypographyAstro>
  </article>
  <ButtonAstro iconOnly iconClass="-rotate-45" class="ml-auto mt-auto" />
</article>
