---
import { ServiceLink } from "@components/Link";
import { useTranslations, type Languages } from "@i18n/index";
import type { IInsightCategory } from "@interfaces/index";
import insightService from "@service/insight.service";
import { formatLink } from "@utils/index";

interface Props {
  category: string;
  page: number;
}

const getHref = (slug: string) =>
  formatLink(Astro.url, `insights/${slug}/${page}#insights`);

const { category, page } = Astro.props;

const { lang } = Astro.params;
const t = useTranslations(lang as Languages, "insights.list");

const categories = await insightService.getCategory({
  locale: lang as Languages,
});

const currentCategory = categories.data.find((v) => v.slug === category);

const getNeededLength = (data: IInsightCategory[]) => {
  const neededLength = 10;
  if (data.length >= neededLength || data.length === 0) return data;

  while (data.length < neededLength) {
    data.push(...data);
  }

  return data;
};
---

<div class:list={"w-full mb-[120px]"}>
  <div class="bg-brand-green px-2 py-2 rounded-lg flex gap-[30px]">
    <ServiceLink
      class="swiper-slide w-fit"
      variant="none"
      color="light-green"
      active={true}
      >{currentCategory ? currentCategory.name : t("all")}</ServiceLink
    >
    <div class="categories-swiper swiper">
      <section class:list={["swiper-wrapper justify-between"]}>
        {
          category !== "all" && (
            <ServiceLink
              class="swiper-slide w-fit"
              variant="none"
              color="light-green"
              active={category === "all"}
              href={getHref("all")}
            >
              {t("all")}
            </ServiceLink>
          )
        }

        {
          getNeededLength(categories.data).map(
            (v) =>
              v.slug !== category && (
                <ServiceLink
                  class="swiper-slide w-fit"
                  variant="none"
                  color="light-green"
                  active={category === v.slug}
                  href={getHref(v.slug)}
                >
                  {v.name}
                </ServiceLink>
              ),
          )
        }
      </section>
    </div>
  </div>
</div>
<script>
  import Swiper from "swiper";
  import { Autoplay } from "swiper/modules";

  new Swiper(".categories-swiper", {
    slidesPerView: "auto",
    spaceBetween: 30,
    modules: [Autoplay],
    autoplay: {
      delay: 1500,
      disableOnInteraction: false,
      pauseOnMouseEnter: true,
    },
    loop: true,
  });
</script>

<style>
  @media (max-width: 1024px) {
    .swiper-slide {
      font-size: 14px;
    }
  }
</style>

<style is:global>
  #service {
    scroll-margin-top: 200px; /* Зміщення в 100px вище */
  }
</style>
