---
import { TypographyAstro } from "@components/Typography";
import type { IProject } from "@interfaces/project";
import { executeImg } from "@utils/index";

interface Props {
  project: IProject;
  class?: string;
}

const { class: className, project } = Astro.props;
---

<section
  class:list={[
    "flex justify-between gap-y-3 border-t border-brand-black border-opacity-45 pt-5",
    className,
  ]}
>
  <section class="flex flex-col justify-between flex-1">
    <article class="mb-5">
      <TypographyAstro type="subTitle-1" class="text-green">
        {project.title}
      </TypographyAstro>
      <TypographyAstro type="subTitle-sm-1" color="gray">
        {project.subTitle}
      </TypographyAstro>
    </article>
    <div class="flex flex-col gap-y-3">
      <article>
        <TypographyAstro type="subTitle-sm-4" color="gray">
          TECHNOLOGIES:
        </TypographyAstro>
        <div class="flex flex-wrap gap-2">
          {
            project.technologies.map((v) => (
              <span class="py-1 px-3 bg-brand-beigeLight rounded-3xl text-brand-black text-label4">
                {v.name}
              </span>
            ))
          }
        </div>
      </article>
      <article>
        <TypographyAstro type="subTitle-sm-4" color="gray">
          Industry:
        </TypographyAstro>
        <TypographyAstro type="body-2">{project.industry}</TypographyAstro>
      </article>
      <article>
        <TypographyAstro type="subTitle-sm-4" color="gray">
          CLIENT since:
        </TypographyAstro>
        <TypographyAstro type="body-2">
          {new Date(project.clientSinceYear).getFullYear()}
        </TypographyAstro>
      </article>
      <article>
        <TypographyAstro type="subTitle-sm-4" color="gray">
          REGION:
        </TypographyAstro>
        <TypographyAstro type="body-2" class="uppercase">
          {project.region}
        </TypographyAstro>
      </article>
    </div>
  </section>

  <div class="h-[352px] flex-1">
    <img
      class="h-full w-full object-cover object-center"
      src={executeImg(project.image)}
    />
  </div>
</section>
