---
import { ServiceLink } from "@components/Link";
import { useTranslations, type Languages } from "@i18n/index";
import serviceService from "@service/service.service";
import { formatLink } from "@utils/index";

interface Props {
  domain: string;
}

const domains = await serviceService.getService();
const { domain } = Astro.props;

const { lang } = Astro.params;
const t = useTranslations(lang as Languages, "cases.tabSection");

const currentDomain = domains.data.find((v) => v.slug === domain);
---

<div
  class:list={"absolute z-20 bottom-14 left-1/2 -translate-x-1/2 px-4 w-full max-w-[1470px] mx-auto py-4 2xl:py-5 2xl:px-8"}
>
  <div class="bg-brand-white px-2 py-2 rounded-lg flex gap-[30px]">
    <ServiceLink
      class="swiper-slide w-fit"
      variant="none"
      color="biscuit"
      active={true}
      >{currentDomain ? currentDomain.name : t("allCases")}</ServiceLink
    >
    <div class="mySwiper swiper">
      <section class:list={["swiper-wrapper justify-between"]}>
        {
          domain !== "all" && (
            <ServiceLink
              class="swiper-slide w-fit"
              variant="none"
              color="biscuit"
              active={domain === "all"}
              href={formatLink(Astro.url, `service/all#service`)}
            >
              {t("allCases")}
            </ServiceLink>
          )
        }

        {
          domains.data.map(
            (v) =>
              v.slug !== domain && (
                <ServiceLink
                  class="swiper-slide w-fit"
                  variant="none"
                  color="biscuit"
                  active={domain === v.slug}
                  href={formatLink(Astro.url, `service/${v.slug}#service`)}
                >
                  {v.name}
                </ServiceLink>
              ),
          )
        }
        {
          domains.data.map(
            (v) =>
              v.slug !== domain && (
                <ServiceLink
                  class="swiper-slide w-fit"
                  variant="none"
                  color="biscuit"
                  active={domain === v.slug}
                  href={formatLink(Astro.url, `service/${v.slug}#service`)}
                >
                  {v.name}
                </ServiceLink>
              ),
          )
        }
      </section>
    </div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay } from "swiper/modules";

  new Swiper(".mySwiper", {
    slidesPerView: "auto",
    spaceBetween: 30,
    modules: [Autoplay],
    autoplay: {
      delay: 1500,
      disableOnInteraction: false,
      pauseOnMouseEnter: true,
    },
    loop: true,
  });
</script>

<style>
  @media (max-width: 1024px) {
    .swiper-slide {
      font-size: 14px;
    }
  }
</style>

<style is:global>
  #service {
    scroll-margin-top: 200px; /* Зміщення в 100px вище */
  }
</style>
