---
import type { IProject } from "@interfaces/project";
import Title from "./Title.astro";
import { TypographyAstro } from "@components/Typography";
import { objCompany } from "@assets/icon/company";

type Props = IProject;

const data = Astro.props;
---

<article class="container flex flex-col gap-10 mt-7">
  <Title {...data} />
  <section class="grid lg:grid-cols-[280px,auto] gap-5">
    <div
      class="w-full ls:w-[280px] h-[152px] flex items-center justify-center py-9 p-2.5 mx-auto bg-brand-black rounded"
    >
      <img
        src={objCompany[data.partner.name as keyof typeof objCompany].src}
        alt=""
        class=""
      />
    </div>
    <p class="my-auto font-gothic text-20 tracking-1 text-brand-black">
      {data.description}
    </p>
  </section>
  <section
    class="grid gap-3 lg:gap-0 lg:grid-cols-[repeat(4,auto)] justify-between"
  >
    <div class="space-y-1">
      <TypographyAstro type="subTitle-sm-4" color="gray">
        Industry:
      </TypographyAstro>
      <TypographyAstro type="body-2" color="black" class="tracking-[0.8px]"
        >{data.industry}</TypographyAstro
      >
    </div>
    <div class="space-y-1">
      <TypographyAstro type="subTitle-sm-4" color="gray">
        client since:
      </TypographyAstro>
      <TypographyAstro type="body-2" color="black" class="tracking-[0.8px]"
        >{data.clientSinceYear}</TypographyAstro
      >
    </div>
    <div class="space-y-1">
      <TypographyAstro type="subTitle-sm-4" color="gray">
        region:
      </TypographyAstro>
      <TypographyAstro type="body-2" color="black" class="tracking-[0.8px]"
        >{data.region}</TypographyAstro
      >
    </div>
    <div class="space-y-1">
      <TypographyAstro type="subTitle-sm-4" color="gray">
        technologies:
      </TypographyAstro>
      <div class="flex flex-wrap gap-1">
        {
          data.technologies.map((v) => (
            <span class="py-1 px-3 whitespace-nowrap bg-brand-beigeLight rounded-3xl text-brand-black text-12 font-gothic">
              {v.name}
            </span>
          ))
        }
      </div>
    </div>
  </section>
</article>
