---
import Layout from "@layouts/Layout.astro";
import {
  languages,
  useTranslations,
  type Language,
  type Languages,
} from "@i18n/index";
import ContactUsSection from "@components/Form/ContactUsSection.astro";
import serviceService from "@service/service.service";

import {
  TestimonialsSection,
  CasesSection,
  DescriptionSection,
  AboutServiceSection,
  StepsSection,
  HeroTabsSection,
} from "@components/Sections";
import { cubeNear, cubeNearVP9 } from "@assets/index";
import type { IService } from "@interfaces/service";
import type { GetStaticPaths } from "astro";
import Breadcrumbs from "@components/Breadcrumbs/Breadcrumbs.astro";
import HeroHeadAstro from "@components/Hero/HeroHeadAstro.astro";

export const getStaticPaths = (async () => {
  const projectService: IService[] = (await serviceService.getService()).data;

  const requestProjects = Object.keys(languages).flatMap((lang) =>
    projectService.map((service) =>
      serviceService
        .get({
          pagination: { limit: "max" },
          locale: languages[lang].lang,
          filter:
            service.id !== 0
              ? [
                  {
                    fields: ["services", "documentId"],
                    value: service.documentId,
                  },
                ]
              : [],
        })
        .then((response) => {
          return {
            lang: languages[lang] as Language,
            case: service,
            response,
          };
        }),
    ),
  );

  const responses = await Promise.all(requestProjects);

  return responses.flatMap((v) => {
    return {
      params: { lang: v.lang.slug, case: v.case.slug },
      props: {
        meta: v.response.meta,
        slug: v.case.slug,
        projects: v.response.data,
        service: v.case,
      },
    };
  });
}) satisfies GetStaticPaths;

const { lang } = Astro.params;
const { projects, service } = Astro.props;

const t = useTranslations(lang as Languages, "service.contactUs");

const text = t("text").map((t: string, i: number) => {
  if (i === 2) {
    return { text: t, alight: "none", variant: "outlined" };
  }
  return { text: t, alight: "none", variant: "contained" };
});
---

<Layout title="UniCode Service">
  <link
    slot="head"
    rel="preload stylesheet"
    as="style"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <main>
    <HeroHeadAstro />
    <Breadcrumbs />
    <div class="flex flex-col gap-[120px] mt-[60px]">
      <DescriptionSection service={service} />
      <AboutServiceSection features={service.features} />
      <StepsSection steps={service.steps} />
      <TestimonialsSection />
      <CasesSection data={projects} />
      <ContactUsSection text={text} />
    </div>
  </main>
</Layout>
