---
import type { GetStaticPaths } from 'astro';
import Layout from '@layouts/Layout.astro';
import { languages, type Language, type Languages } from '@i18n/ui';
import vacancyService from '@service/vacancy.service';
import { cubeNear, cubeNearVP9 } from '@assets/video';
import Breadcrumbs from '@components/Breadcrumbs/Breadcrumbs.astro';
import { VacancyTitle, VacancyDescription } from '@components/Sections/Vacancy';
import ContactUsSection from '@components/Form/ContactUsSection.astro';
import { useTranslations } from '@i18n/utils';
import Recruiter from '@components/Recruiter/Recruiter.astro';
import { HeroHeadAstro } from '@components/Hero';

export const getStaticPaths = (async () => {
  const req = Object.keys(languages).flatMap((lang) =>
    vacancyService.getWithInfo({ locale: languages[lang].lang }).then((res) => {
      return {
        lang: languages[lang] as Language,
        res,
      };
    }),
  );

  const resArr = await Promise.all(req);

  return resArr.flatMap((res) => {
    return res.res.data.map((v) => {
      return {
        params: { lang: res.lang.slug, slug: v.slug },
        props: { vacancy: v },
      };
    });
  });
}) satisfies GetStaticPaths;

const { lang } = Astro.params;
const { vacancy } = Astro.props;

const pageDescription = vacancy.skills.map((skill) => skill.name).join(', ');

const t = useTranslations(lang as Languages, 'vacancy');
---

<Layout
  title={vacancy.title}
  openGraph={{
    image: vacancy.image.base64,
    title: vacancy.title,
    description: pageDescription,
  }}
>
  <main class='flex flex-col gap-[120px]'>
    <div>
      <HeroHeadAstro />
      <Breadcrumbs last={vacancy.title} />
    </div>
    <VacancyTitle title={vacancy.title} />
    <VacancyDescription list={vacancy.description} />
    <Recruiter
      recruiter={vacancy.recruiter}
      title={t('recruiter.title')}
      type={t('recruiter.type')}
    />
    <ContactUsSection text={t('contactUs')} table='vacancy-replay' />
  </main>
</Layout>
