---
import { languages } from "@i18n/index";

interface Props {
  class?: string;
}

const { lang } = Astro.params;
const { class: className } = Astro.props;

const langs = Object.keys(languages)
  .map((key) => languages[key])
  .filter((lang) => lang.slug);
---

<select
  class:list={[
    "bg-transparent text-gray-200 outline-0",
    "uppercase text-16 font-gothic font-normal",
    className,
  ]}
  onchange="switchLang(value)"
>
  {
    langs.map((language) => (
      <option value={language.slug} selected={language.slug === lang}>
        {language.slug}
      </option>
    ))
  }
</select>

<script is:inline>
  function switchLang(e) {
    const lang = document.documentElement.lang;
    const url = new URL(window.location.href);
    const newPathname = url.pathname.replace(`/${lang}`, "");
    const newUrl = `${url.origin}/${e}${newPathname}${url.search}${url.hash}`;
    window.location.assign(newUrl);
  }
</script>
