---
import { AccordionAstro } from "@components/Accordion";
import { TypographyAstro } from "@components/Typography";
import { clutch, linkedin, youtube } from "src/assets";
import FooterHero from "./FooterHero.astro";
import { useTranslations, type Languages } from "@i18n/index";

interface Props {
  variant?: "contained" | "outlined";
  color?: "black" | "biscuit";
  class?: string;
}

const { lang } = Astro.params;
const t = useTranslations(lang as Languages, "footer");
const blockFooter = t("menu") as { title: string; list: string[] }[];
---

<footer class="pt-[120px]">
  <FooterHero />
  <div class="bg-brand-black">
    <div
      class:list={[
        "py-10 px-6 2xl:pb-16 2xl:px-0",
        "mx-auto 2xl:max-w-[1216px] 3xl:max-w-[1696px]",
      ]}
    >
      <div class="hidden 2xl:grid grid-cols-6 justify-between mb-[60px] gap-3">
        {
          blockFooter.map((textBlock) => {
            return (
              <div>
                <TypographyAstro
                  type="body-2"
                  color="white"
                  class="font-gothic mb-5 tracking-[0.8px]"
                >
                  {textBlock.title}
                </TypographyAstro>
                <div class="flex flex-col gap-y-2">
                  {textBlock.list.map((item) => (
                    <TypographyAstro class="text-brand-white font-gothic text-xs">
                      {item}
                    </TypographyAstro>
                  ))}
                </div>
              </div>
            );
          })
        }
      </div>
      <div class="2xl:hidden mb-6">
        {
          blockFooter.map((textBlock) => {
            return (
              <AccordionAstro arrowStyle>
                <p
                  class="text-brand-white font-gothic tracking-0.8"
                  slot="title"
                >
                  {textBlock.title}
                </p>
                <ul class="list-disc list-inside ps-1">
                  {textBlock.list.map((itemList) => {
                    return (
                      <li class="text-gray-200 font-gothic tracking-0.8">
                        {itemList}
                      </li>
                    );
                  })}
                </ul>
              </AccordionAstro>
            );
          })
        }
      </div>
      <div
        class:list={["flex flex-col justify-between gap-y-4", "2xl:flex-row"]}
      >
        <div class="flex sm2:mb-0 gap-x-4 2xl:gap-x-3">
          <img src={clutch.src} alt="clutch" />
          <img src={linkedin.src} alt="linkedin" />
          <img src={youtube.src} alt="youtube" />
        </div>
        <div
          class:list={[
            "flex gap-y-2 flex-col",
            "2xl:gap-x-6 2xl:flex-row",
            "text-gray font-gothic text-10 leading-3",
          ]}
        >
          <p>{t("copyright")}</p>
          <p>{t("privacyPolicy")}</p>
          <p>{t("termsOfService")}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
