---
import { ButtonAstro } from "@components/Button";
import { TypographyAstro } from "@components/Typography";
import type { Languages } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import type { IWorker } from "@interfaces/worker";

interface Props {
  worker: IWorker;
}

const { lang } = Astro.params;
const { worker } = Astro.props;

const t = useTranslations(lang as Languages, "team.worker");
---

<div class="group hover:cursor-pointer relative w-[380px] h-[442px]">
  <div
    class="absolute group-hover:rotate-y-180 perspective-100 inset-0 duration-200 backface-hidden transform-3d bg-brand-black rounded p-6 flex flex-col justify-between gap-5"
  >
    <img
      src={worker.photo.base64}
      alt=""
      class="w-full h-full object-cover object-center rounded"
    />
    <div class="flex justify-between">
      <div>
        <TypographyAstro type="subTitle-1" color="white">
          {worker.name}
        </TypographyAstro>
        <TypographyAstro
          type="subTitle-sm-4"
          color="white"
          class="text-brand-white text-opacity-75"
        >
          {worker.position}
        </TypographyAstro>
      </div>
      <ButtonAstro
        variant="outlined"
        iconOnly
        iconClass="-rotate-45"
        class="mt-auto"
      />
    </div>
  </div>
  <div
    class="absolute group-hover:rotate-y-360 inset-0 duration-200 backface-hidden transform-3d rotate-y-180 bg-brand-black rounded p-6 flex flex-col gap-5"
  >
    <TypographyAstro type="subTitle-1" color="white">
      {t("greeting")}
    </TypographyAstro>
    <div class="flex flex-col gap-1.5">
      <TypographyAstro type="subTitle-sm-4" color="brand-gray">
        {t("technologies")}:
      </TypographyAstro>
      <p class="flex flex-wrap gap-1">
        {
          worker.stack.map((tech) => (
            <span class="py-1 px-3 bg-white rounded-3xl text-brand-black text-12 font-gothic">
              {tech.name}
            </span>
          ))
        }
      </p>
    </div>

    <div class="flex flex-col gap-1.5">
      <TypographyAstro color="brand-gray" type="subTitle-sm-4">
        {t("experience")}:
      </TypographyAstro>
      <TypographyAstro color="white" type="body-2">
        {new Date().getFullYear() - new Date(worker.experience).getFullYear()}
        years
        <!-- TODO: add dynamic time detect -->
      </TypographyAstro>
    </div>

    <div class="flex flex-col gap-1.5">
      <TypographyAstro color="brand-gray" type="subTitle-sm-4">
        {t("about")}:
      </TypographyAstro>
      <TypographyAstro color="white" type="body-2" class="line-clamp-4">
        {worker.description}
      </TypographyAstro>
    </div>

    <ButtonAstro
      variant="outlined"
      iconOnly
      class="mt-auto ml-auto"
      iconClass="rotate-45"
    />
  </div>
</div>
