---
import { ButtonAstro } from "@components/Button";
import { TypographyAstro } from "@components/Typography";
import type { Languages } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import type { IWorker } from "@interfaces/worker";

interface Props {
  worker: IWorker;
  class?: string;
}

const { lang } = Astro.params;
const { worker, class: className } = Astro.props;

const t = useTranslations(lang as Languages, "team.worker");
---

<div class="group hover:cursor-pointer relative w-[380px] h-[442px]">
  <div
    class:list={[
      "absolute group-hover:rotate-y-180 inset-0 duration-200 backface-hidden transform-3d bg-brand-white rounded border border-brand-black p-4 xl:p-6 flex flex-col justify-between",
      className,
    ]}
  >
    <img
      src={worker.photo.base64}
      alt=""
      class="w-full h-[320px] object-cover object-center rounded"
    />
    <div class="flex justify-between">
      <div>
        <TypographyAstro type="subTitle-1" color="black">
          {worker.name}
        </TypographyAstro>
        <TypographyAstro
          type="subTitle-sm-4"
          color="black"
          class="text-brand-black text-opacity-75"
        >
          {worker.position}
        </TypographyAstro>
      </div>
      <ButtonAstro
        variant="contained"
        iconOnly
        iconClass="-rotate-45"
        class="mt-auto"
      />
    </div>
  </div>
  <div
    class="absolute group-hover:rotate-y-360 inset-0 duration-200 backface-hidden transform-3d rotate-y-180 bg-brand-black rounded p-4 xl:p-6 flex flex-col gap-5"
  >
    <TypographyAstro type="subTitle-1" color="white">
      {t("greeting")}
    </TypographyAstro>
    <div class="flex flex-col gap-1.5">
      <TypographyAstro type="subTitle-sm-4" color="brand-gray" class="!text-14">
        {t("technologies")}:
      </TypographyAstro>
      <p class="flex flex-wrap gap-1">
        {
          worker.stack.map((tech) => (
            <span class="py-1 px-3 bg-white rounded-3xl text-brand-black text-12 font-gothic">
              {tech.name}
            </span>
          ))
        }
      </p>
    </div>

    <div class="flex flex-col gap-1.5">
      <TypographyAstro color="brand-gray" type="subTitle-sm-4" class="!text-14">
        {t("experience")}:
      </TypographyAstro>
      <TypographyAstro color="white" type="body-2" class="!text-14">
        {new Date().getFullYear() - new Date(worker.experience).getFullYear()}
        years
        <!-- TODO: add dynamic time detect -->
      </TypographyAstro>
    </div>

    <div class="flex flex-col gap-1.5">
      <TypographyAstro color="brand-gray" type="subTitle-sm-4" class="!text-14">
        {t("about")}:
      </TypographyAstro>
      <TypographyAstro
        color="white"
        type="body-2"
        class="line-clamp-4 !text-14"
      >
        {worker.description}
      </TypographyAstro>
    </div>

    <ButtonAstro
      variant="contained"
      color="white"
      iconOnly
      class="mt-auto ml-auto"
      iconClass="rotate-45"
    />
  </div>
</div>
