---
import type { GetStaticPaths } from 'astro';
import Layout from '@layouts/Layout.astro';
import { languages, type Languages } from '@i18n/ui';
import { cubeNear, cubeNearVP9 } from '@assets/video';
import Breadcrumbs from '@components/Breadcrumbs/Breadcrumbs.astro';
import {
  Mission,
  Partners,
  Services,
  Story,
  Title,
  Values,
} from '@components/Sections/WhoWeAre';
import ContactUsSection from '@components/Form/ContactUsSection.astro';
import { useTranslations } from '@i18n/utils';
import whoWeAreService from '@service/whoWeAre.service';
import { TestimonialsSection } from '@components/Sections';

export const getStaticPaths = (async () => {
  const req = Object.keys(languages).flatMap(async (lang) => {
    const { data } = await whoWeAreService.get({
      locale: languages[lang].lang,
    });

    return {
      data,
      lang,
    };
  });

  const resArr = await Promise.all(req);

  return resArr.map((v) => ({
    props: { data: v.data[0] },
    params: { lang: languages[v.lang].slug },
  }));
}) satisfies GetStaticPaths;

const { lang } = Astro.params;
const { data } = Astro.props;

const t = useTranslations(lang as Languages, 'whoWeAre');
const text = t('contactUs');
---

<Layout title='Who we are'>
  <link
    slot='head'
    rel='preload stylesheet'
    as='style'
    type='text/css'
    href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css'
  />
  <main class='flex flex-col gap-[120px]'>
    <div class='h-[144px] lg:h-[168px] bg-black bg-opacity-45'>
      <video
        autoplay
        muted
        loop
        class='relative -z-10 bg-black bg-opacity-45 h-full w-full object-cover'
      >
        <track kind='captions' src='/captions/empty_captions.vtt' />
        <source src={cubeNear} type='video/mp4; codecs=avc1.42E01E,mp4a.40.2' />
        <source src={cubeNearVP9} type='video/mp4' />
      </video>
      <Breadcrumbs />
    </div>
    <Title />
    <Mission />
    <Values values={data.values} />
    <Story list={data.story} />
    <Partners />
    <Services list={data.services} />
    <TestimonialsSection />
    <ContactUsSection text={text} />
  </main>
</Layout>
